<div style="margin-bottom: 10px">
  <button (click)="viewConfigs = !viewConfigs">View Configurations</button>
</div>
<div>
<div style="margin-bottom: 10px" *ngIf="viewConfigs">
  <div *ngFor="let item of createdConfigs">
    <div *ngIf="item.type === 1" style="margin-bottom: 10px; cursor: pointer" (click)="item.isDetail = !item.isDetail">
      {{item.name1}} - Schema1
      <button style="margin-left: 10px;" (click)="deleteConfig(item.id)">Delete</button>
    </div>
    <div *ngIf="item.type === 2" style="margin-bottom: 10px; cursor: pointer" (click)="item.isDetail = !item.isDetail">
      {{item.name2}} - Schema2
      <button style="margin-left: 10px;" (click)="deleteConfig(item.id)">Delete</button>
    </div>

    <div *ngIf="item.isDetail && item.type === 1">
      <div class="nameSpace">nameSpace1:
          <div class = "subNameSpace">subNameSpace1:
            <div class="parameter">parameter1: {{item.nameSpace1.subNameSpace1.parameter1}}</div>
            <div class="parameter">parameter2: {{item.nameSpace1.subNameSpace1.parameter2}}</div>
          </div>
          <div class="subNameSpace">parameter3: {{item.nameSpace1.parameter3}}</div>
      </div>


      <div class="nameSpace">nameSpace2:
          <div class = "subNameSpace">subNameSpace2:
            <div class="parameter">parameter4: {{item.nameSpace2.subNameSpace2.parameter4}}</div>
          </div>
          <div class="subNameSpace">parameter8: {{item.nameSpace2.parameter8}}</div>
      </div>

    </div>
    <div *ngIf="item.isDetail && item.type === 2">
         <div class="parameter" style="padding-left: 0px">parameter10: {{item.parameter10}}</div>
         <div class="nameSpace">nameSpace3:
           <div class = "subNameSpace">subNameSpace4:
              <div class="parameter">parameter14: {{item.nameSpace3.subNameSpace4.parameter14}}</div>
              <div class="parameter">parameter15: {{item.nameSpace3.subNameSpace4.parameter15}}</div>
             <div class = "subNameSpace" style="padding-left: 60px">subNameSpace5:
               <div class = "subNameSpace">subNameSpace6:
                 <div class="parameter">parameter16: {{item.nameSpace3.subNameSpace4.subNameSpace5.subNameSpace6.parameter16}}</div>
                 <div class="parameter">parameter17: {{item.nameSpace3.subNameSpace4.subNameSpace5.subNameSpace6.parameter17}}</div>
               </div>
             </div>
           </div>
           <div class="parameter" style="padding-left: 30px">parameter18:  {{item.nameSpace3.parameter18}}</div>
         </div>
    </div>
  </div>
</div>
</div>
<div>
  <button (click)="chooseType = !chooseType">Add New Configuration</button>
</div>

<div class="types" *ngIf="chooseType">
  <div>
    <button (click)="type1 = !type1">Create ConfigSchema1</button>
    <form *ngIf="type1" [formGroup]="configSchema1Form" (ngSubmit)="onConfigSchema1Submit()">
      <div>
        <label>Name:   </label>
        <input type="text" formControlName="name1" id="name1" placeholder="Enter a name">
        <span style="margin-left: 5px; color: red" *ngIf="submitted && f1.name1.errors && f1.name1.errors.required">You must enter a name</span>
        <span style="margin-left: 5px; color: red" *ngIf="submitted && doesExist1">This name already exists</span>
      </div>
      <div formGroupName="nameSpace1" class="nameSpace">nameSpace1:
          <div formGroupName="subNameSpace1" class = "subNameSpace">subNameSpace1:
            <div class="parameter">
              <label>parameter1:  </label>
              <input  type="text" formControlName="parameter1" id="parameter1" placeholder="Enter parameter1">
              <span style="font-weight: normal;margin-left: 5px; color: red" *ngIf="submitted && configSchema1Form.get('nameSpace1.subNameSpace1.parameter1')?.errors && configSchema1Form.get('nameSpace1.subNameSpace1.parameter1')?.errors?.required">You must enter this parameter</span>

            </div>
            <div class="parameter">
              <label>parameter2:  </label>
              <input  type="number" min="0" formControlName="parameter2" id="parameter2"  placeholder="Enter parameter2">
            </div>
          </div>
          <div class="subNameSpace">
            <label>parameter3:  </label>
            <input  type="checkbox" formControlName="parameter3" id="parameter3" >
          </div>
      </div>

      <div formGroupName="nameSpace2" class="nameSpace">nameSpace2:
          <div formGroupName="subNameSpace2" class = "subNameSpace">subNameSpace2:
            <div class="parameter">
              <label>parameter4:  </label>
              <input  type="number"  min="-10" max="10" formControlName="parameter4" id="parameter4" placeholder="Enter parameter4">
            </div>
          </div>
          <div class="subNameSpace">
            <label>parameter8:  </label>
            <input  type="text" formControlName="parameter8" id="parameter8" placeholder="Enter parameter8">
          </div>
      </div>

      <button style="margin-top: 10px" type="submit">ADD</button>
      <div style="color: red" *ngIf="maxConfigAmount">Max Config Amount Exceeded</div>
    </form>
  </div>
  <div>
    <button (click)="type2 = !type2">Create ConfigSchema2</button>
    <form *ngIf="type2" [formGroup]="configSchema2Form" (ngSubmit)="onConfigSchema2Submit()">
      <div>
        <label>Name:   </label>
        <input type="text" formControlName="name2" id="name2" placeholder="Enter a name">
        <span style="margin-left: 5px; color: red" *ngIf="submitted && f2.name2.errors && f2.name2.errors.required">You must enter a name</span>
        <span style="margin-left: 5px; color: red" *ngIf="submitted && doesExist2">This name already exists</span>
      </div>
      <div class="parameter" style="padding-left: 0px">
        <label>parameter10:  </label>
        <select  formControlName="parameter10" id="parameter10">
          <option value="" selected disabled hidden>Choose an option</option>
          <option value="option1">option1</option>
          <option value="option2">option2</option>
          <option value="option3">option3</option>
        </select>
        <span style="font-weight: normal;margin-left: 5px; color: red" *ngIf="submitted && configSchema2Form.get('nameSpace1.subNameSpace1.parameter10')?.errors && configSchema2Form.get('nameSpace1.subNameSpace1.parameter1')?.errors?.required">You must enter this parameter</span>
      </div>
      <div formGroupName="nameSpace3" class="nameSpace">nameSpace3:
        <div formGroupName="subNameSpace4" class="subNameSpace">subNameSpace4:
          <div class="parameter">
            <label>parameter14:  </label>
            <input  type="checkbox" formControlName="parameter14" id="parameter14" >
          </div>
          <div class="parameter">
            <label>parameter15:  </label>
            <input  type="number" step="0.01" min="0" max="1" formControlName="parameter15" id="parameter15"  placeholder="Enter parameter15">
          </div>
          <div formGroupName="subNameSpace5" class="subNameSpace" style="padding-left: 60px">subNameSpace5:
             <div formGroupName="subNameSpace6" class="subNameSpace">subNameSpace6:
               <div class="parameter">
                 <label>parameter16:  </label>
                 <input  type="number"  step="0.1" min="-1" max="1" formControlName="parameter16" id="parameter16"  placeholder="Enter parameter16">
               </div>
               <div class="parameter">
                 <label>parameter17:  </label>
                 <input  type="text"  formControlName="parameter17" id="parameter17"  placeholder="Enter parameter17">
               </div>
             </div>
          </div>
        </div>
        <div class="parameter" style="padding-left: 30px">
          <label>parameter18:  </label>
          <input  type="number" formControlName="parameter18" id="parameter18"  placeholder="Enter parameter18">
        </div>
      </div>
      <button style="margin-top: 10px" type="submit">ADD</button>
      <div style="color: red" *ngIf="maxConfigAmount">Max Config Amount Exceeded</div>
    </form>
  </div>

</div>
